<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Section: Links  -->
    <section class="" style="background-color: #159895; padding-top: 1px;">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4 text-center">
                        <i class="fas fa-gem me-3 text-secondary"></i>Sobre nosotros...
                    </h6>
                    <p class="text-center">
                        Nuestro objetivo es ofrecer a nuestros clientes una experiencia enriquecedora mediante la adquisición de velas hechas con cera de soya. Este producto no es dañino con el medio ambiente, y desprende esencias relajantes.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-center">
                        Redes sociales
                    </h6>
                    <p class="text-center">
                        <span>
                            <i class="fa fa-github fa-lg"></i>
                        </span>
                        <a href="https://github.com/ImNider/EcoGleam-WS" class="text-reset">Github</a>
                    </p>
                    <p class="text-center">
                        <span>
                            <i class="fa fa-linkedin-square	fa-lg"></i>
                        </span>
                        <a href="#!" class="text-reset">Linkedin</a>
                    </p>
                    <p class="text-center">
                        <span>
                            <i class="fa fa-twitter-square fa-lg"></i>
                        </span>
                        <a href="#!" class="text-reset">Twitter</a>
                    </p>
                    <p class="text-center">
                        <span>
                            <i class="fa fa-instagram fa-lg"></i>
                        </span>
                        <a href="#!" class="text-reset">Instagram</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-center">Informacion de Contacto</h6>
                    <p class="text-center"> Guayaquil, Ecuador </p>
                    <p class="text-center"> info@ecogleam.com </p>
                    <p class="text-center"> + 593 000 000 000 </p>
                    <p class="text-center"> + 593 000 000 000 </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color:#1A5F7A">
        © 2023 Copyright:
        <a class="text-reset fw-bold">EcoGleam</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/my-js/onClickFormulary.js"></script>