.titulo-1 {
    text-align: center;
    font-size: 80px;
    padding: 10px;
}

.galeria {
    padding: 0px 40px;
}

.elemento-navbar {
    padding: 0px 55px;
    font-size: 20px;
}

.articulo {
    display: flex;
    padding: 0px 50px 50px 50px;
    width: 100%;
}

.titulo-2 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
  
.bg-image {
background-image: url('https://images8.alphacoders.com/131/1318311.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}